rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /match_opened/{document=**} {
      allow read, write: if true;
    }
    match /match_closed/{document=**} {
      allow read, write: if true;
    }
    match /matching_user/{document=**} {
      allow read, write: if true;
    }
	}
}
